@charset "utf-8";

#l_outer_div address,#l_outer_div cite,#l_outer_div dfn,#l_outer_div em,#l_outer_div var{font-style:normal;}
#l_outer_div ul,#l_outer_div ol{list-style:none;}
#l_outer_div img{border:0 none;}
#l_outer_div .fl{float:left}
#l_outer_div .fr{float:right}
#l_outer_div .fb{font-weight:blod}
#l_outer_div .tr{text-align:right}
#l_outer_div .tc{text-align:center}
#l_outer_div .mr5{margin-right:5px;}
#l_outer_div .pl5{padding-left:5px;}
.dis{display:block;}.undis{display:none;}.disin{display: inline;} 
.clear{ clear:both;}
#l_outer_divv .bd0{border:0 none;}
#l_outer_div .h10{height:10px;font-size:0;overflow:hidden;clear:both;}


#l_outer_div .bound{overflow:hidden;background:#fff;position:relative;padding-bottom:10px;width:318px;}
#l_outer_div .bound div{overflow:hidden;zoom:1}
#l_outer_div .bound p{padding:0 10px;width:248px;overflow:hidden;line-height:24px;margin-top:5px;}
#l_outer_div .bound p var{float:left;width:1px;height:72px;background:url(http://image.kuwo.cn/www/login2012/l_emleft.gif);}
#l_outer_div .bound p span{float:left;color:#6a6a6a;line-height:24px;}
#l_outer_div .bound p a{float:right;color:#000;}
#l_outer_div .bound .fenxiang2 a{float:left;margin-left:10px;height:24px;width:}
#l_outer_div .bound .fenxiang2 a strong{display:block;font-weight:normal;cursor:pointer;padding-left:18px;background:url(http://image.kuwo.cn/www/login2012/weibo.png) no-repeat;height:22px;overflow:hidden;}
#l_outer_div .bound .fenxiang2 a .login_qq{background-position:3px -60px ;}
#l_outer_div .bound .fenxiang2 a .login_sina{background-position:3px 4px ;}



#l_outer_div .loginBtn{background:url(http://image.kuwo.cn/www/login2012/login_btn.gif) 0 -24px;display:inline-block;height:24px;position:relative;line-height:24px;margin-left:100px;width:70px;text-align:center;color:#000}
#l_outer_div .loginBtn em{width:4px;background:url(http://image.kuwo.cn/www/login2012/login_btn.gif) 0 0;height:24px;position:absolute;left:-2px;top:0;display:block}
#l_outer_div .loginBtn .rig{background-position:0 -48px;right:-2px;left:auto}
#l_outer_div .loginBtn:hover{background-position:0 -96px;text-decoration:none}
#l_outer_div .loginBtn:hover em{background-position: 0 -72px;}
#l_outer_div .loginBtn:hover .rig{background-position: 0 -120px;}
#l_outer_div .loginBtn:active{background-position:0 -168px;}
#l_outer_div .loginBtn:active em{background-position: 0 -144px;}
#l_outer_div .loginBtn:active .rig{background-position: 0 -192px;}

#l_outer_div .l_set{width:100%;overflow:hidden;zoom:1;margin-top:7px}
#l_outer_div .l_set span{float:left;width:57px;height:23px;line-height:23px;text-align:right;}
#l_outer_div .l_set .input{float:left;width:176px;}
#l_outer_div .input em{float:left;width:3px;height:23px;background:url(http://image.kuwo.cn/www/login2012/input.gif);}
#l_outer_div .input input{float:left;width:162px;border:0 none;background:#fff url(http://image.kuwo.cn/www/login2012/input.gif) 0 -46px repeat-x;padding:2px 2px;height:19px;line-height:19px;}
#l_outer_div .input .input_right{background-position:0 -23px;}
#l_outer_div .l_set a{float:left;line-height:23px;color:#000;margin-left:10px;display:inline;}
#l_outer_div .bound  .fenxiang2{padding:10px 0 0 20px;background:url(http://image.kuwo.cn/www/login2012/fline.gif) no-repeat;width:300px;margin-top:9px;overflow:hidden;zoom:1}

.login2012_load{width:320px;overflow:hidden;position:absolute;top:50%;left:50%;margin-top:-112px;margin-left:-160px;heigh:225px;}
#l_outer_div .l_loadtop{width:320px;height:83px;background:url(http://image.kuwo.cn/www/login2012/l_loadlogo.gif) no-repeat;}
#l_outer_div .l_loadmiddle{width:318px;border-right:1px solid #326a92;border-left:1px solid #326a92;overflow:hidden;}
#l_outer_div .l_loadbottom{width:320px;background:url(http://image.kuwo.cn/www/login2012/l_loadbottom.gif) no-repeat;height:3px;overflow:hidden;}
#l_outer_div .l_check input{float:left;width:13px;height:13px;margin:5px 5px 0 0}
#l_outer_div .l_check {overflow:hidden;zoom:1;padding-left:57px;}
#l_outer_div .l_check label{float:left;height:23px;line-height:23px;margin-right:24px;}

#l_outer_div .bound .tishi{background:url(http://image.kuwo.cn/www/login2012/l_tishi.gif) 0 0 repeat-x;height:30px;clear:both;margin-top:10px;position:absolute;top:50px;width:100%;}
#l_outer_div .bound .tishi p{background:url(http://image.kuwo.cn/www/login2012/l_tishi2.gif) 57px 5px no-repeat;margin-top:0;line-height:30px;padding:0;width:100%;text-indent:87px}

#l_outer_div .login_closed{display:block;width:35px;height:21px;position:absolute;top:0;right:0;background:url(http://image.kuwo.cn/www/login2012/login_closed3.png) 1px 0 no-repeat;}
#l_outer_div .login_closed:hover{background:url(http://image.kuwo.cn/www/login2012/login_closed.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://image.kuwo.cn/www/login2012/login_closed.png");}
#l_outer_div .login_closed:active{background:url(http://image.kuwo.cn/www/login2012/login_closed2.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://image.kuwo.cn/www/login2012/login_closed1.png");}

.login2012_fuceng{width:100%;height:1000px;background:#000;opacity:0.5;filter:alpha(opacity:50);}