<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.dao.ReplyCommentDao">
	<resultMap id="BaseResultMap"
		type="com.music.bean.ReplyComment">
		<id column="ID" property="rId" />
		<result column="CONTENT" property="rContent" />
		<result column="TIME" property="rTime" />
		<result column="COMMENTSID" property="commentsid" />
		<result column="REMARK" property="remark" />
		<result column="USERSID" property="usersid" />
	</resultMap>
	<!-- 定义sql片段，替代* -->
	<sql id="Base_Column_List">
		ID, CONTENT, TIME, COMMENTSID, REMARK, USERSID
	</sql>

</mapper>